@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,500,600,700|Roboto:400,500,700|Sen:400,700,800&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  color: #030431;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}
p {
  font-family: "Roboto", sans-serif;
  color: #10285d;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a {
  color: #635c5c;
}
a:hover {
  color: #fff;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}
a,
button {
  color: #fff;
  outline: medium none;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
hr {
  border-bottom: 1px solid rgba(128, 128, 128, 0.603);
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}

#scrollUp,
#back-top {
  background: #2d3092;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
}
@media (max-width: 575px) {
  #scrollUp,
  #back-top {
    right: 16px;
  }
}
#scrollUp a i,
#back-top a i {
  display: block;
  line-height: 50px;
}
#scrollUp:hover {
  color: #fff;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-5 {
  margin-right: 5px;
}
.pt-5 {
  padding-top: 5px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
.preloader {
  background-color: #635555;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
}
.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: #064c37;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.5);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.5);
  background-color: #fff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.preloader .preloader-circle2 {
  border-top-color: #0078ff;
}
.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.preloader .preloader-img img {
  max-width: 55px;
}
.preloader .pere-text strong {
  font-weight: 800;
  color: #dca73a;
  text-transform: uppercase;
}
@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}
.header-area {
  background: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}
@media (max-width: 575px) {
  .header-area {
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }
}
.header-area .header-bottom .logo {
  float: left;
  padding: 5px 20px !important;
  text-align: center;
}
@media only screen and (min-width: 1601px) and (max-width: 1800px) {
  .header-area .header-bottom .logo {
    padding: 35px 31px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header-area .header-bottom .logo {
    padding: 35px 31px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .header-bottom .logo {
    padding: 35px 31px;
    margin-right: 10px;
  }
}
.header-area .header-bottom .logo.logo2 {
  background: none;
  padding: 20px 0px;
}
.header-area .header-bottom .menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-area .header-bottom .menu-wrapper .main-menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1;
}
.header-area .header-bottom .menu-wrapper .main-menu ul li a {
  color: black;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 15px !important;
  margin: 8px 0 ;
  display: block; 
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s; 
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-transform: capitalize;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header-area .header-bottom .menu-wrapper .main-menu ul li a {
    padding: 39px 21px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .header-bottom .menu-wrapper .main-menu ul li a {
    padding: 39px 14px;
  }
}
.header-area .header-bottom .menu-wrapper .main-menu ul li:hover > a {
  color: gray;
  background-color: rgba(128, 128, 128, 0.329);
  border-radius: 60px;
}
.header-area .header-bottom .menu-wrapper .main-menu ul li:first-child a {
  padding-left: 0;
}
.header-area .header-bottom .menu-wrapper .main-menu ul ul.submenu {
  position: absolute;
  width: 200px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  left: 0;
  top: 90%;
  visibility: hidden;
  font-size: 35px;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 15px 0px;
  border-top: 5px solid #2d3092;
}
.header-area .header-bottom .menu-wrapper .main-menu ul ul.submenu > li {
  margin-left: 0px;
  display: block;
}
.header-area .header-bottom .menu-wrapper .main-menu ul ul.submenu > li > a {
  padding: 10px 10px !important;
  font-size: 18px;
}
.header-area
  .header-bottom
  .menu-wrapper
  .main-menu
  ul
  ul.submenu :hover {
  color: black;
  background:  rgb(238, 238, 238);
}

.main-header {
  position: relative;
  z-index: 3;
}
.main-header .header-bottom .menu-wrapper ul > li:hover > ul.submenu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.header-transparent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}
.header-sticky.sticky-bar.sticky .main-menu ul li a {
  padding: 20px 20px !important;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-sticky.sticky-bar.sticky {
    padding: 15px 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-sticky.sticky-bar.sticky {
    padding: 15px 0px;
  }
}
@media (max-width: 575px) {
  .header-sticky.sticky-bar.sticky {
    padding: 15px 0px;
  }
}
.mobile_menu {
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 99;
}

/* Custom Styles */
.btn-dark
{
    background-color: black;
    color: white !important;
    border-radius: 50px;
    width: 100px;
    text-align: center;
}
.icon
{
    color: blue;
}
.cont
{
    width: 95% !important;
    height: 120vh;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #064c37;
    overflow: hidden;
}
.sec1
{   
    background: url(../img/fableherosec.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -198px !important;
    width: 100% !important;
    height: 72% !important;
    border-radius: 20px;
}

.cont1
{
    width: 95% !important;
    height: 130vh;
    margin: 0 auto;
    border-radius: 20px;
    background: url(../img/LeVar_Burton.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    
}
.cont2
{
    width: 95% !important;
    height: 150vh;
    margin: 0 auto;
    border-radius: 20px;
    background-color:  #e4adbb;
    overflow: hidden;
}
.cont3
{
    width: 95% !important;
    height: 100vh;
    margin: 0 auto;
    border-radius: 20px;
    background-color:#161015;
    overflow: hidden;
}
.hero-text h1
{
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #e4adbb;
    margin-top: 80px;
    text-align: center;
}
.hero-text p
{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    margin-top: 5px;
    text-align: center;
}
.btn1
{
    background-color: #e4adbb;
    color: black;
    padding: 15px;
    border-radius: 30px;
    font-weight: bolder;
}
.btn2
{
    background-color: black;
    color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: bolder;
    margin-left: 10px;
}
.btn3
{
    background-color: #06392a;
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
}
.btn3:hover
{
    background-color: #06392ab9;
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
}
.btn4
{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
}
.btn4:hover 
{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 20px;
}
.smalltxt
{
    font-size: 10px !important;
    font-weight: bolder;
    color: black !important;
    background-color: #e4adbb;
    width: 100px;
    height: 20px;
    padding: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px auto 0 !important;
    border-radius: 5px;
   
}
.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.hero-sec2 h1{
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: white;
    /* margin-top: 200px !important; */
    text-align: center;
    
}
.sec2
{   
    background: rgba(0, 0, 0, 0.5);
    width: 95% !important;
    height: 130vh;
    margin: 0 auto;
    border-radius: 20px;
}
.hero-sec2 p
{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: white;
    /* margin-top: 5px; */
    text-align: center;
    margin: 25px 320px;
}
.wrapper
{
    width: 1170px;
    margin: 0 auto;
}
.section-padding1
{
    padding: 60px 0;
}
.testimonial-carousel
{
    margin: 1% auto 0;
}
.img-area
{
    width: 100px;
    height: 100px;
    display: block;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}
.img-area img
{
    width: 100%;
}
.single-testi
{
    padding: 10%;
    background-color: #48C9B0 ;
    text-align: center;
    border-radius: 100px 20px 20px 20px;
}
.img-text h2, p
{
    margin: 20px 0;
    color: white;
}
.img-text p span
{
    color: rgb(223, 217, 217);
    font-size: 15px;
}
.book-area
{
    display: flex;
}
.bookimg
{
    width: 80px !important;
    height: 100px;
}
.book-text p
{
    margin-left: 20px !important;
    color: black;
    font-weight: bolder;
}
.book-text p span{
    color: rgb(223, 217, 217);
}
.btnarea
{
    margin-top: 50px;
}
.heading
{
  font-family: "SF UI Display SemiBold",sans-serif;
    margin: 50px 0 ;
}
.heading h1
{
    font-size: 70px;
}
.heading p
{
    color: black;
    font-size: 30px;
}
.bottombtn
{
    margin-bottom: 100px;
    display: block;
}
.hero-text2
{
    margin-left: 40px !important;
}
.hero-text2 h2
{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #e4adbb;
    margin-top: 140px;
    margin-bottom: 30px;
    text-align: left;
}
.hero-text2 p
{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    text-align: left;
}
.download-area
{
    display: flex;
    align-items: center;
    margin-left: 40px;
    width: 180px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.download-text
{
    margin-left: 10px;
}
.download-text p
{
    color:#2e272d;
    font-size: 13px;
    line-height: 18px !important;
}
.download-text p span{
    color: #2e272d;
    font-weight: bolder;
    font-size: 25px;
}
.download-text2
{
    margin-left: 10px;
}
.download-text2 p
{
    color:#2e272d;
    font-size: 15px;
    line-height: 18px !important;
}
.download-text2 p span{
    color: #2e272d;
    font-weight: bolder;
    font-size: 20px;
}
.downloadicon
{
    font-size: 35px;
    color: #2e272d;
}
.dwnldsec
{
    display: flex;
}
.rightimg
{
    width: 500px;
    height: 500px;
    margin-top: 140px;
}
.heading h2
{
    padding-top: 50px ;
    font-size: 50px;
    font-weight: bolder;
    color: black;
}
.style1
{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 0px 100px;
}
.liststyle li a
{
    color: black;
    font-size: 25px;
}
.liststyle li a:hover
{
    text-decoration: underline;
}
.liststyle li
{
    padding: 12px;
}
.liststyle p
{
    color: black;
    font-size: 25px;
    margin-top: 80px;
}
.disp1
{
    padding: 100px 100px;
}
.disp2
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footersocial
{
    text-align: right;
}
.footersocial a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 48px;
    color: #d1cfd0;
    background: #2e272d;
    margin-right: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footersocial a {
      margin-right: 7px;
    }
  }
  @media (max-width: 575px) {
    .footersocial a {
      width: 50px;
      height: 50px;
      line-height: 60px;
      margin-right: 3px;
    }
  }
  .footersocial a i {
    font-size: 20px;
    transition: 0.2s linear;
  }
  .footersocial a::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .footersocial a:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .footersocial a:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  .disp3 h1
  {
    color: white;
    font-size: 30px;
    font-weight: bolder;
  }
  .disp3 p{
      font-weight: bolder;
  }
  .group1 input
  {
    background-color: white !important;
    border-style: none;
    height: 50px;
    border-radius: 50px;
    text-align: left;
  }
  .group1 input:focus
  {
    background-color: white;
    border-style: none;
    height: 50px;
    color: black !important;
    border-radius: 50px;
    text-align: left;
    border-style: none;
  }
  .group1 button
  {
    background-color: white !important;
    border-style: none;
    color: royalblue;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    width: 80px;
    cursor: pointer;
    text-align: center;
  }
  .group1 button:hover
  {
    background-color: white !important;
    border-style: none;
    color: royalblue;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    width: 80px;
    text-align: center;
  }
  .input-group input
  {
    background-color: #2e272d;
    border-style: none;
    height: 50px;
    border-radius: 50px;
    text-align: left;
  }
  .input-group input:focus
  {
    background-color: #2e272d;
    border-style: none;
    height: 50px;
    color: white;
    border-radius: 50px;
    text-align: left;
    border-style: none;
  }
  .input-group button
  {
    background-color: #2e272d;
    border-style: none;
    color: royalblue;
    height: 50px;
    border-radius: 0px 50px 50px 0px;
    width: 80px;
    text-align: center;
  }
  .disp4{
    padding: 0 30px;
  }
  .disp4 p
  {
      margin: 0;
      font-size: 12px;
      color: grey;
  }
  .liststyle2 li a
  {
    color: whitesmoke;
  }
  .liststyle2 li
  {
      padding: 10px 0;
  }
  .download-area1
{
    display: flex;
    align-items: center;
    margin-left: 0px;
    width: 180px;
    height: 50px;
    background-color: #2e272d;
    border-radius: 10px;
    padding: 10px;
}
.download-text1
{
    margin-left: 10px;
}
.download-text1 p
{
    color:#ffffff;
    font-size: 13px;
    line-height: 18px !important;
}
.download-text1 p span{
    color: #ffffff;
    font-weight: bolder;
    font-size: 25px;
}
.download-text3
{
    margin-left: 10px;
}
.download-text3 p
{
    color:#ffffff;
    font-size: 15px;
    line-height: 18px !important;
}
.download-text3 p span{
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
}
.downloadicon1
{
    font-size: 35px;
    color: whitesmoke;
}
.foot1
{
    /* display: flex; */
    text-align: right;
    align-items: center;
    
}
.foot1 a
{
    margin-right: 20px;
}
.disp5
{
    display: flex;
    align-items: center;
}
.disp5 p
{
    color: grey;
}
.disp5 a
{
    color: grey;
}
.foot1 a:hover
{
    color: white;
}